.login-page {
  margin-left: 0.5cm;
  background-image: url("./images/plane3.jpg");
  text-align: center;
}
input {
  background-color: black;
  color: wheat;
  height: 0.9cm;
  width: 15cm;
  border-radius: 10px;
}
.login-page > h3 {
  color: red;
  text-align: center;
  margin-bottom: 1cm;
}
.login-page > p {
  color: burlywood;
  margin-right: 5px;
  font-size: large;
  font-weight: 900px;
}
.login-page > button {
  width: 12cm;
  height: 35px;
  color: black;
  background-color: rgba(221, 20, 20, 0.842);
  margin-left: 3cm;
}
.login-page > .input-account {
  margin-bottom: 1cm;
  margin-top: 0.5cm;
}
